body {
  margin: 0;
  font-family: "Anonymous Pro", monospace;
  color: rgb(0, 0, 0);
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 1em;
}

body button {
  outline: none;
}

.headerWrapperWrapper {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 6em;
  width: 25em;
}

.headerWrapper {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headerWrapper h2 {
  color: #fff;
  font-size: 4em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.headerWrapper h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px rgb(0, 150, 255);
}

.headerWrapper h2:nth-child(2) {
  color: rgb(0, 150, 255);
  animation: headerAnimation 4s ease-in-out infinite;
}

@keyframes headerAnimation {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.backImgWrapper {
  z-index: -1;
  position: fixed;
  left: 0;
  bottom: -4px;
}

.backImg {
  width: 100%;
}

/* 
Main Table
*/

.accountWrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  column-gap: 0.2em;
}

.accountTotal {
  column-span: all;
}

.accountHeading {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  background-color: rgb(0, 150, 255);
  color: #ffff;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

th {
  color: rgb(0, 150, 255);
  background-color: rgb(255, 255, 255);
}

.accountTotalspan {
  font-weight: bolder;
}

.accountTotal {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  grid-column: 1 / span 2;
}

.accountTableWrapper table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.delbtn {
  display: none;
  height: 1.3em;
  transition: 0.2s;
  filter: invert(0%) sepia(0%) saturate(7485%) hue-rotate(20deg)
    brightness(104%) contrast(104%);
}
.delbtn:hover {
  cursor: pointer;
  filter: invert(18%) sepia(96%) saturate(6529%) hue-rotate(358deg)
    brightness(104%) contrast(113%);
}

.accountTableWrapper table tr {
  height: 1.5em;
  transition: 0.2s;
}

.accountTableWrapper table tr:hover {
  background-color: rgb(230, 230, 230);
}

.spacerrow {
  border: none !important;
  height: 0.7em !important;
}

/*
Columns
*/
.delcol {
  width: 5%;
}

.amountcol {
  width: 30%;
}

.usagecol {
  width: 30%;
}

.datecol {
  width: 35%;
}

/* 
Popup
 */

.addButtonWrapper {
  width: 100%;
  height: 1.5em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
}

.addButton {
  font-family: "Anonymous Pro", monospace;
  font-size: 1em;
  height: 100%;
  width: 20%;
  border: 0;
  background-color: rgb(0, 150, 255);
  border-radius: 1em;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}

.addButton:hover {
  background-color: rgb(0, 100, 240);
}

.addPopupWrapper {
  transition: 1s;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.addPopup {
  width: 50%;
  height: 40%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addHead {
  border: solid 2px black;
  width: 90%;
  text-align: center;
  background-color: rgb(0, 150, 255);
  color: white;
  font-size: 2em;
  margin-bottom: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.addInput {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.inputWrapper {
  width: 100%;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 90% 10%;
}

input {
  font-family: "Anonymous Pro", monospace;
  width: 95%;
  font-size: 1em;
  border: none;
  border-bottom: solid 2px gray;
  transition: all 0.5s ease-out;
}

input:hover {
  background-color: rgb(240, 240, 240);
}

input:focus + label {
  color: rgb(0, 150, 255);
  transition: all 0.5s;
}

input:focus {
  transition: c;
  border: none;
  outline: none;
  border-bottom: solid 2px rgb(0, 150, 255);
}

label {
  font-size: 1em;
  padding-left: 0.5em;
}

.submitWrapper {
  margin-top: 1em;
  width: 60%;
  height: 1.5em;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.submitWrapper button {
  font-family: "Anonymous Pro", monospace;
  font-size: 1em;
  height: 100%;
  width: 80%;
  border: 0;
  background-color: rgb(0, 150, 255);
  border-radius: 1em;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}

.submitWrapper button:hover {
  background-color: rgb(0, 100, 240);
}

.loadingwrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.loadingwrapper img {
  align-self: center;
}

#statusText {
  color: white;
}

.editinput {
  text-align: center;
  border: none;
  border-radius: 0.5em;
}

.editinput:focus {
  background-color: rgb(150, 200, 255);
  border: none;
  font-weight: bold;
}

.showspan {
  cursor: text;
}

.statusAlert {
  position: absolute;
  bottom: 40px;
  width: 20%;
}

#statusAlertWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  border-collapse: separate;
}

.status_suc {
  border: 3px solid green;
}

.status_warn {
  border: 3px solid orange;
}

#success-icn {
  height: 30px;
  margin-top: 15px;
  display: none;
  margin-left: 15px;
}

#warning_icn {
  height: 30px;
  margin-top: 15px;
  display: none;
  margin-left: 15px;
}

#statusAlertText {
  height: 100%;
  width: 100%;
  color: white;
}

.statusAlertText_suc {
  background-color: green;
  border-left: 3px solid green;
  border-right: 3px solid green;
}

.statusAlertText_warn {
  background-color: orange;
  border-left: 3px solid orange;
  border-right: 3px solid orange;
}

#statusAlerticns {
  height: 100%;
  width: 100%;
  background-color: white;
  text-align: center;
}

.icn_success {
  border-right: 3px solid green;
}

.icn_warn {
  border-right: 3px solid orange;
}

#alertText {
  margin-left: 5px;
}
